*{
    margin: 0;
}


.navmain {
    background-color: black;
    height: 100px;
    width: 900;
}

.navmain img {
    height: 80px;
    margin-bottom: 15px;
}

.textname {
    display: block;
    color: rgb(196, 46, 196);
    font-family: Arial;
    font-size: 25px;
    margin-left: 90px;
    margin-top: -65px;
    text-decoration: none;
    transition: 300ms;
}

.textname:hover {
    color: rgb(248, 78, 248);

}

.navmain input {
    display: block;
    background-color: purple;
    height: 30px;
    width: 300px;
    border-radius: 10px;
    margin-left: 240px;
    margin-top: -34px;
    color: white;
    font-size: 20px;
}